<!-- <h1>Views\Home\_ViewStart.cshtml</h1> -->
@{
    Layout = "_Layout";
}

    <div class="bg-danger">

<a class="text-warning" asp-controler="Home" asp-action="">Home</a>
<a class="text-warning" asp-controler="Home" asp-action="Welcome">Welcome</a>
<a class="text-warning" asp-controler="Home" asp-action="Privacy">Privacy</a>

	</div>