body {
    margin: 0;
}


.half {
    width: 70vw;
    height: 70vh;
    overflow: hidden;
    margin: 20vh auto;
    background: radial-gradient(#ffffff, #806a6a 102%);;
}

#toolbox {
    position: fixed;
    top: 16px !important;
    right: 32px;
    height:90vh;
    text-align: center;
    background: linear-gradient(90deg, #fed3ad, transparent), linear-gradient(90deg, #ffffff, rgba(121, 26, 26, 0.32));
    border-radius: 16px;
    margin: 0;
    padding: 48px 16px;
    box-sizing: border-box;
    border-bottom-right-radius: 72px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 72px;
}

#toolbox .wrap {
    overflow-y: scroll;
    height: 100%;
}

#toolbox .exit {
    position: fixed;
    top: 0px;
    right: 13px;
    border-radius:32px;
    padding:16px;
    border-radius: 32px !important;
    padding: 16px !important;
    text-decoration: none;
    /* color: #000000 !important; */
    /* text-shadow:0px 0px 8px #afabab !important; */
}

#toolbox .button {
    cursor: pointer;
    box-shadow: 1px 1px 2px #591818, -1px -1px 2px white;
    padding: 0 4px;
    margin: 8px;
    line-height: 1.6em;
    border-radius: 4px;
    background: rgba(125, 45, 45, 0.7);
    color: #313030;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px #f17c7c;
}

#toolbox .active,
#toolbox .button:hover {
    background: rgba(152, 87, 87, 0.7);
    color: white;
    text-shadow: 1px 1px 1px #0e0c0c;
}
#toolbox .gtitle {
    text-align: left;
    color: white;
}

#container, #example, .demo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background: burlywood;
    box-shadow: 1px 1px 2px #583030, -1px -1px 4px #583030;
}

.paded {
    padding:32px;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    background: #fdfdfd;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td,
th {
    border: 1px solid #e9e9e9;
    padding: 8px 14px;
    text-align: left;
}

th {
    white-space: nowrap;
    font-weight: 600;
    background: #f7f7f7;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

code {
    border: none;
    margin: 0;
    color: #666;
    overflow: auto;
    padding: 1em;
}

pre {
    background: #f5f2f0;
    margin: 0 3px;
    padding: 2px 6px;
    border-radius: 3px;
    color: #dd4a68;
    font-size: .8rem;
    border: 1px solid #e9e9e9;
}

/* PureComponent demo style */

.list .item { padding:8px; }


/* Icon demo style */

.icon-sizes {
    margin: 0;
    padding: 0;
    list-style: none;
}

.icon-sizes li {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.icon-sizes i {
    display: block;
    margin: 12px auto 0 auto;
    text-align: center;
}

.icon-sizes .next-icon {
    cursor: pointer;
}

.icon-sizes span {
    display: block;
    margin-top: 10px;
    text-align: center;
}


/* Loading style */

.frame-preloading::after {
    content:"";
    display:block;
    position: relative; top:50%; z-index: 1;
    margin: -240px auto; width: 270px; height: 480px; border-radius: 32px;
    background: url('./imgs/fingers.1536326112.jpg') center no-repeat; background-size: contain;
}
.frame-preloading {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    margin: auto; width:100%; height: 100%;
    text-align: center; font-size: 3em;
    position:fixed; top:0; left:0; z-index: 0;
}

.frame-preloading .tip { position: fixed; z-index: 2; width:100%; top:50%; left:0; text-align: center; }
.gradient-text {
    background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#FF5100));
    background: linear-gradient(to right,#ff8a00,#FF5100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 700;
}
.page-loader {
    width: 32px; height: 32px; margin: -5px 0 0 -16px;
    border: 3px solid #FFF; border-radius: 999px;
    position: fixed; top: 50%; left: 50%;
    /*display: none;*/
    z-index: 2;
    -webkit-animation: pulsecircle .7s linear infinite;
    animation: pulsecircle .7s linear infinite
}
.page-bg {
    background-color: #29272C;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display:none; 
}
@-webkit-keyframes pulsecircle {
    0% {-webkit-transform: scale(0.4, .4); opacity: 0 }
    50% {opacity: 1 }
    100% {-webkit-transform: scale(8.2, 8.2); opacity: 0 }
}
@keyframes pulsecircle {
    0% {transform: scale(0.1, .1); opacity: 0 }
    50% {opacity: 1 }
    100% {transform: scale(8.2, 8.2); opacity: 0 }
}


/* Readme demo style */

.markdown-body {
    background: white;
    margin: 0 -32px;
    padding: 32px;
}


/* Qrcode style */

.ice-qrcode{
    cursor: pointer;
}

.qrcodes li { 
    width:10%;
}

.qrcodes {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Colors Pad style */

.colors {
    display: flex;
    flex-wrap: wrap;
    direction: row;
}
.color-pad .next-icon {
    opacity: 0.2;
    cursor: pointer;
}
.color-pad .next-icon:hover {
    opacity: 1;
}
.color-pad .field {
    cursor: pointer;
}

.color-pad p {
    margin: 0.2em;
    text-shadow: 1px 1px 1px #abababd4, -1px -1px 1px rgba(123, 123, 123, 0.5);
    font-size: 0.8em;
    color: #0e0e0e;
}
.color-pad {
    width: 19%; 
    height: 20%;
    border-radius: 16px;
    padding: 8px;
    margin: 0.5%;
    box-shadow: 1px 1px 1px rgba(105, 104, 104, 0.6), -1px -1px 1px rgba(122, 122, 122, 0.75);
}
.colors .theme-dark * {
    color: white;
}

/* Switch demo style */

.large-width { width: 100px; }


/* Step demo style */

.custom-node1 {
    background: radial-gradient(rgba(255, 255, 255, 0.39), #ffffff);
    height: 32px;
    border-radius: 16px;
}

.custom-node2 {
    border-radius: 16px;
    width: 32px;
    height: 32px;
    margin: 0px 0 0 0px;
    border: 3px solid #FFF;
    border-radius: 999px;
    -webkit-animation: pulsecircle .7s linear infinite;
    animation: pulsecircle .7s linear infinite
}

@-webkit-keyframes pulsecircle {
    0% {-webkit-transform: scale(0.01, 0.01); opacity: 0 }
    50% {opacity: 0.7 }
    100% {-webkit-transform: scale(2.2, 2.2); opacity: 0 }
}
@keyframes pulsecircle {
    0% {transform: scale(0.01, 0.01); opacity: 0 }
    50% {opacity: 0.7 }
    100% {transform: scale(2.2, 2.2); opacity: 0 }
}




/* scrollbar style */

.scrolled {
    overflow: scroll;
}

*::-webkit-scrollbar {
    padding: 32px;
    width: 3px;
    background-color: rgba(28, 28, 28, 0.0);
    border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
    background-color: rgba(255, 255, 255, 0.3);
}

.scrolled-trans::-webkit-scrollbar {
    padding: 32px 0;
    width: 1px;
    background-color: rgba(28, 28, 28, 0.0);
    border-radius: 16px;
}

.scrolled-trans::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
    background-color: rgba(255, 255, 255, 0.0);
}


    #toolbox .button { display:none; }
    #toolbox:hover .button { display:block; }
    #exit { display: block !important; }

@media screen and (max-width: 1024px) {
    .half {
        width: 100vw;
        height: 100vh;
        margin: 0vh auto;
    }
    .list .item .field { min-width: 100px; }
    .item .field-value { top: 0px; }
    #container, #example { bottom: 0 !important; }
}

/* fix next.css */
.next-upload-list {
    display:block;
}

.next-upload-dragable .next-upload-drag {
    background-color: #fcfdd2 !important;
}