.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  position: relative;
  background-color: aliceblue;
  border-radius: 16px;
  margin: 8px;
  padding: 8px;
  color: #282c34;
  box-shadow: 1px 1px 3px #14262b;
}

.avatar {
  position: absolute;
  z-index: 2;
  left: -32px;
  top: -32px;
  display: inline-block; 
  width: 64px; 
  height: 64px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #14262b;
  overflow: hidden;
}
.avatar img { 
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
